* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  font-family: 'Lato', sans-serif;
}

ul {
  list-style: none;
}

.coinlist-image {
  width: 50px;
}

.coinlist-item {
  display: flex;
}

.coinsummary {
  border-color: white !important;
  border-style: outset !important;
}

.coin-data-category {
  font-size: 10px;
}

.delete-icon {
  display: none;
  position: absolute;
  right: 6px;
}

.coin:hover .delete-icon {
  display: block;
}

h1:hover {
  color: #00274e;
}

.footer{
  padding: 1rem;
  color: #fff;
  background-color: #007BFF;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}